* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: white;
}
.container {
  width: 85%;
  margin: auto;
}

/* NAVBAR */
nav {
  width: 100%;
  background-color: rgb(31, 29, 29);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.left a {
  text-decoration: none;
}
.left:hover {
  background-color: rgb(46, 43, 43);
  border-radius: 8px;
}
.left p {
  font-size: 25px;
  color: white;
  letter-spacing: 3px;
  word-spacing: 10px;
  font-weight: 600;
  padding: 10px 20px;
}
span {
  font-size: 32px;
  color: #6a29d3;
}
.right {
  display: flex;
  align-items: center;
}
.right a {
  text-decoration: none;
  color: white;
  padding: 21px 20px;
  font-weight: 300;
  transition: 0.2s;
}
.right a:hover {
  background-color: rgb(46, 43, 43);
  border-radius: 8px;
}

/* HOME PAGE */
.home {
  margin-top: 90px;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 2fr 5fr;
}
.left-home {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #4c1c9b;
}
.home-box {
  margin: 10px;
  text-align: center;
  min-height: 230px;
  padding: 30px;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 0 1px 5px #4c1c9b;
  background-color: white;
}
.home-box:hover {
  background-color: rgb(224, 224, 224);
}
.home-box h4 {
  font-weight: 600;
  font-size: 40px;
  color: #4c1c9b;
}
.home-box p {
  margin-bottom: 40px;
}
.home-box a {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right, #4c1c9b, rgb(48, 42, 77));
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 300px;
  transition: 0.2s;
}
.home-box a:hover {
  background-image: linear-gradient(to right, rgb(48, 42, 77), #4c1c9b);
}
.right-home {
  border: 1px solid black;
  background-image: url(images/display/2.jpg);

  background-size: cover;
  background-position: center;
  min-height: 500px;
  position: relative;
}
.right-home-content {
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  min-height: 500px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.72);
}
.cont {
  margin: 50px;
}
.cont h1 {
  font-size: 37px;
  font-weight: 600;
  color: #7126e9;
  margin-top: 120px;
  margin-bottom: 20px;
}
.cont p {
  font-size: 18px;
  font-weight: 300;
  color: white;
  margin-bottom: 50px;
}
.cont a {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right, #4c1c9b, rgb(48, 42, 77));
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 300px;
  transition: 0.5s;
}
.cont a:hover {
  background-image: linear-gradient(to right, rgb(48, 42, 77), #4c1c9b);
}
/* COURSE SECTION */
.course {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 25px;
  column-gap: 15px;
  margin-bottom: 300px;
}
.course-box {
  min-height: 200px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 1px 5px #4c1c9b;
  transition: 0.3s;
  border-radius: 5px;
}
.course-box:hover {
  background-color: rgb(224, 224, 224);
}
.course-box h1 {
  font-weight: 600;
  font-size: 30px;
  color: #4c1c9b;
}
.course-box p {
  margin-bottom: 20px;
}
.course-box a {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right, #4c1c9b, rgb(48, 42, 77));
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.5s;
}
.course-box a:hover {
  background-image: linear-gradient(to right, rgb(48, 42, 77), #4c1c9b);
}
